In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
%cd /content/drive/MyDrive/Github

/content/drive/MyDrive/Github


**ANALISIS ON CHAIN**
---
Consiste en examinar los fundamentos, la utilidad, y las transacciones de una criptomoneda y sus datos en blockchain (que funciona como un libro contable  abierto, y permite a un observador analizar cada transacción realizada y estimar la cantidad de monedas que están almacenadas o que han sido movidas por cualquier dirección en la red para analizar la situación macroeconómica del mercado.


Una correcta lectura nos puede ayudar mucho a saber cuando salir o entrar en un proyecto o como manejar nuestro portafolio.

# ¿Qué son los datos On-Chain?

Son transacciones realizadas en una blockchain pública y descentralizada. Esto incluye la autenticación y validación de transacciones por parte de mineros de criptomonedas.

Los diferentes detalles de una transacción se registran en el bloque y se distribuyen a toda la blockchain, haciendo que la transacción sea irreversible, ya que no se puede modificar. Las carteras revelan las posiciones y las bases de costos de cada holder en cualquier momento del día.

A largo plazo, el precio del bitcoin puede reaccionar más a los datos brutos que muestran la salud de la red, pero a corto y medio plazo el comportamiento de los compradores y vendedores puede ayudar a los inversores a superar el ruido en el precio y evaluar si un determinado activo es productivo o no.

# Algunas de las métricas
A continuación, ejemplificaremos las principales métricas utilizadas para comprender el mercado de activos digitales a través de herramientas

In [ ]:
import json
import requests
import pandas as pd
import csv
import pandas.io.json
from functools import reduce

# monkeypatch using standard python json module
pd.io.json._json.loads = lambda s, *a, **kw: json.loads(s)

In [ ]:
API_KEY = '23yTHbjR3sret3SNu4foURNObQ6'

In [ ]:
urls = [
        'https://api.glassnode.com/v1/metrics/indicators/rhodl_ratio',
        'https://api.glassnode.com/v1/metrics/market/mvrv_z_score',
        'https://api.glassnode.com/v1/metrics/indicators/pi_cycle_top',
        'https://api.glassnode.com/v1/metrics/distribution/balance_exchanges',
        'https://api.glassnode.com/v1/metrics/market/price_usd_close',
        'https://api.glassnode.com/v1/metrics/indicators/sopr',
        'https://api.glassnode.com/v1/metrics/indicators/realized_loss',
        'https://api.glassnode.com/v1/metrics/supply/profit_relative',
        'https://api.glassnode.com/v1/metrics/mining/difficulty_latest',
        'https://api.glassnode.com/v1/metrics/mining/hash_rate_mean',
        'https://api.glassnode.com/v1/metrics/transactions/transfers_volume_mean']

In [ ]:
data = []
df_list = []


res = [requests.get(url, params={
      'a': 'BTC',
      'api_key': API_KEY}) for url in urls]

''' for i in range(len(res)):
  df_list.append(pd.read_json(res[i].text, convert_dates=['t']))
  df_list[i].rename(columns={'v':urls[i].split('/')[-1]}, inplace=True)
  data.append(df_list[i]) '''

df0= pd.read_json(res[0].text, convert_dates=['t'])
df0.rename(columns={'v':urls[0].split('/')[-1]}, inplace=True)

df1= pd.read_json(res[1].text, convert_dates=['t'])
df1.rename(columns={'v':urls[1].split('/')[-1]}, inplace=True)

df2= pd.read_json(res[2].text, convert_dates=['t'])
df2.rename(columns={'v':urls[2].split('/')[-1]}, inplace=True)

df3= pd.read_json(res[3].text, convert_dates=['t'])
df3.rename(columns={'v':urls[3].split('/')[-1]}, inplace=True)

df4= pd.read_json(res[4].text, convert_dates=['t'])
df4.rename(columns={'v':urls[4].split('/')[-1]}, inplace=True)

df5= pd.read_json(res[5].text, convert_dates=['t'])
df5.rename(columns={'v':urls[5].split('/')[-1]}, inplace=True)

df6= pd.read_json(res[6].text, convert_dates=['t'])
df6.rename(columns={'v':urls[6].split('/')[-1]}, inplace=True)

df7= pd.read_json(res[7].text, convert_dates=['t'])
df7.rename(columns={'v':urls[7].split('/')[-1]}, inplace=True)

df8= pd.read_json(res[8].text, convert_dates=['t'])
df8.rename(columns={'v':urls[8].split('/')[-1]}, inplace=True)

df9= pd.read_json(res[9].text, convert_dates=['t'])
df9.rename(columns={'v':urls[9].split('/')[-1]}, inplace=True)

df10= pd.read_json(res[10].text, convert_dates=['t'])
df10.rename(columns={'v':urls[10].split('/')[-1]}, inplace=True)

In [ ]:
df1.head()

           t  mvrv_z_score
0 2009-01-03           0.0
1 2009-01-04           NaN
2 2009-01-05           NaN
3 2009-01-06           NaN
4 2009-01-07           NaN

In [ ]:
#Unimos los dfs en una lista y mergeamos la lista de dataframe ordenados por el tiempo
data_frames = [df0, df1, df2, df3, df4, df5, df6, df7, df8, df9]

In [ ]:
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['t'],
                                            how='outer'), data_frames)

In [ ]:
#Innecesario
pd.DataFrame.to_csv(df_merged, 'Base de datos.csv', sep=',', na_rep='.', index=False)

In [ ]:
#Cambiar los datatypes
df_merged.dtypes

t                    datetime64[ns]
rhodl_ratio                 float64
mvrv_z_score                float64
o                            object
balance_exchanges           float64
price_usd_close             float64
sopr                        float64
realized_loss               float64
profit_relative             float64
difficulty_latest           float64
hash_rate_mean              float64
dtype: object

In [ ]:
#Explicacion de variables